#map {
    height: 90%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

#lists{
  margin-left: 2%;
}

#settings{
  margin-left: 2%;
  margin-right: 2%;
}

body, html {
  height: 100%;
}

#mapSettingButton {
  width: 250px;
  margin: 10px;
}
