@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');

#map {
    height: 90%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

#lists{
  margin-left: 2%;
}

#settings{
  margin: 0 2% 2% 2%;
}

#buttons{
  margin: 2%;
  display: flex;
  justify-content: space-between;
}

body, html {
  height: 100%;
}

#mapSettingButton {
  width: 250px;
  margin: 10px;
}

.navbar-brand {
  font-family: 'Gluten', cursive;
}

.user{
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}

#userInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userPic {
  margin: 2px;
}
